@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    @foreach (var bus_stop in @Model.BusStop)
    {
        <p>@bus_stop</p>
    }
</div>

<meta http-equiv="refresh" content="30">