@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    @foreach (var bus_stop in @Model.BusStop)
    {
        if (bus_stop.buses.Count > 0)
        {
            <div class="bus-board">
                <h3>@bus_stop.Show()</h3>
                @foreach (var bus in bus_stop.buses.OrderBy(o => o.timeToStation).ToList())
                {
                    <p>@bus.Show()</p>
                }
            </div>
        }
    }
</div>

<meta http-equiv="refresh" content="30">