@model BusBoard.Web.Models.PostcodeSelection
@{
    ViewBag.Title = "Home Page";
}

<div id="index-board">
    <h1>BusBoard</h1>
    <p id="index-motto">For all your bus info needs. Enter a postcode below and click enter to see bus times for that location.</p>
</div>

<div id="index-search">
    <div class="col-md-12">
        @using (Html.BeginForm("BusInfo", "Home", FormMethod.Get))
        {
        <fieldset id="postcode-form">
            @Html.TextBoxFor(m => m.Postcode)
            <input id="search-button" type="submit" value=">" />
        </fieldset>
        }
    </div>
</div>

